body {
    background-color: #ffffff;
    color:#013327;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 150px;
    font-size: 20pt;}
    
h1 {color:#ff4b00;}
h2 {color:#ffa580;}
a {color:#ddff80;}
nav {
    background-color: #EA4647;
    padding: 10px;
    margin-bottom: 30px;
    max-width: 1010px;}
@media only screen and (max-width:600px) {nav a {display:inline-block;}}
span {max-width: 600px; display: none; viewport-fit: 600px;}
nav a:hover {background-color: #013327;}

table {
    border-color: black;
    padding: 1em;}

.skip {background-color: #ffa500; padding: 5px; border: 1px solid black; position: absolute; top: 30px; left: -999px;}
.skip:focus {left: 10px;}

.part2 {display: flex;}
.article2 {flex: 2; order: 3; background-color: #ffa580; border-radius: 1em; padding: 10px;}
.article4 {flex: 2; order: 3; background-color: #ffa580; border-radius: 1em; padding: 10px;}

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
</style>
